.main-cont{
    margin-left: 698px;
    
}
.container > img{
        width: 440px;
        max-width: 450px;
        padding: 6px;
        
        
       
}
.container > a p{
    padding-left: 100px;
    font-size: 30px;
}
.container2 > a p{
    padding-left: 140px;
    font-size: 30px;
}
.container{
    margin-left: 20px;
}
.container2 > img{
    width: 440px;
    max-width: 450px;
    padding: 6px;
}

/* Login  <-- */
.container1 {
    max-width: 200px;
    
    margin-left: 764px;
    margin-top: 85px;
  }
  .container1 > img {
    width: 200px;
  }
  .login {
    margin-left: 730px;
  }
  img{

    width: 80px;
  }

/* Register  <-- */

a img {
    width: 80px;
  }
  .img2 {
    width: 220px;
    
    margin-left: 90px;
  }
  .main-cont1 {
    margin-left: 639px;
    
  }
  .qualification-table{
    margin-left: 159.1px;
    margin-top: -20px;
  }
  .select-coursey{
    margin-left: 57px;
  }
  .move{
    margin-left: -70px;
  }
  #right-things {
    position: relative;
    left: 100px;  /* Adjust this value to move it to the right */
}
.move2{
  margin-left: 379px;
}
